* {
    margin: 0;
}

.negyzet {
    height: 100 px;
    width: 100px;
    background-color: tomato; 
    padding: 20px;
    margin: 30px;
    border: 1px solid blue;
}

.negyzetke{
}

.negyzet, .negyzetke{
    display: inline;
}

h1 {
    float: right;
}

h1::after {
    content: "";
    clear: both;
}