.container{
  display: flex;
  height: 150px;
  width: 600px;
  flex-direction: row-reverse;
}

.green{
  background: green;
  flex-grow: 1;
}

.yellow{
  background: yellow;
  flex-grow: 2;
}

.purple{
  background: purple;
  flex-grow: 1;
}

@media (max-width: 600px){
    .container{
      height: 450px;
      flex-direction: column-reverse;
    }

    .green{
      flex-grow: 1;
    }
    
    .yellow{
      flex-grow: 1;
    }
    
    .purple{
      flex-grow: 1;
    }
};