.container{
    display: flex;
    width: 400px;
    height: 600px;
    flex-direction: column;
}

.item{
}

.green{
    background: green;
    flex-grow: 1;
    order: 1;
}

.yellow{
    background: yellow;
    flex-grow: 2;
    order: 3;

}

.purple{
    background: purple;
    flex-grow: 1;
    order: 2;

}