body {
    margin: 0px;
}

.navigation {
    /* margin: 0px; */
    height: 80px;
    background-color: purple;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    top: 0px;
}

.item {
    background-color: cyan;
    list-style-type: none;
    height: 5vh;
    width: 12vh;
    margin: 6px;
}


.boxes{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    width: 80vw;
    height: 100vw;
    flex-direction: row-reverse;
    -webkit-column-count: 2;
    column-count: 2;
}


.green{
    background: green;
    flex-grow: 1;
    margin-right: 20px;
}

.yellow{
    background: yellow;
    flex-grow: 2;
}

.footer {
    background-color: grey;
    display: flex;
    width: 80vw;
    height: 80px;
    bottom: 0px;
    margin-left: 100px;
}
